.reg_form {
    margin-top: 125px;
}

.log_form {
    margin-top: 175px;
}

.reg_log_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.reg_log_form input {
    width: 300px;
    padding: 7px 15px;
}

.reg_log_form button {
    margin-top: 20px;
    width: 300px;
    padding: 5px 10px;
    cursor: pointer;
}